# root ignore except "wp-content", "config", "migrations" directories
/*
!.gitignore
!/package.json
!/composer.json
!/README.md
!/.github
!/wp-cli.yml
!/robots.txt

!wp-content/
!/config

# ignore everything in the wp-content directory except the "themes" directory
wp-content/*
!wp-content/themes/

# ignore everything in the "wp-content/themes" directory, except telescope directory
wp-content/themes/*
!/wp-content/themes/telescope/

# ignore everything in the "wp-content/mu-plugins" directory, except wp-password-bcrypt.php file
wp-content/mu-plugins/*
!wp-content/mu-plugins/
!wp-content/mu-plugins/wp-password-bcrypt.php

# ignore everything in the "config" directory, except local.sql && *.sh files
config/*
!/config/migrations/
/config/migrations/*.sql
!/config/migrations/local.sql
!/config/*.sh