.skeleton-card {
    margin-bottom: 1rem;
    padding-bottom: .85rem;
    background-color: #fff;

    .ske-img {
        height: 130px;
    }
    .ske-title {
        height: .85rem;
        margin: 1rem 0 .35rem;
    }
    .ske-sub-title {
        height: .85rem;
    }
}
