@import 'style/all';
// @import 'breadcrumb-group';
// @import 'alternate-media-content';
// @import 'txt-and-media-row';
@import 'main-slider';
// @import 'datas-keys';
// @import 'accordion';
// @import 'contact-map';
@import 'news-list';
