#footer {
    padding: 4rem 0 3rem 0;
    margin: 3.5rem 0 0;
    background: #fff;
    border-top: 2px solid #F4F4F5;
}

.sub-footer {
    padding: 1rem 0;
    font-size: rem(12px);
}

.menu-nav-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 25px;
}

.sup-footer li a {
    color: #000000;
    text-decoration: none;
}

.ft-copyright {}


.ft-brand-desc {}

.ftb-name {}

.ftb-address {}

.ftb-phone {}

.ftb-email {}

@media (max-width: $screen-md-max) {

    .sup-footer {
        // text-align: center;

        >*:not(:last-child) {
            margin-bottom: 3rem;
        }
    }


    .sub-footer {
        text-align: center;
    }

    .ft-copyright {
        margin-bottom: .5rem;
        justify-content: center;
    }
}
